@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  input,
  textarea,
  select {
    @apply text-gray-900;
  }
}

body {
  @apply bg-slate-900 text-white;
}